@import url("colors.css");

* {
  font-family: "SF Pro Display", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}

window#osd {
  padding: 10px 20px 10px 15px;
  border-radius: 18px;
  background: @surface_container;
}

#container {
  margin: 0;
}

image {
  color: @on_primary_container;
}

progressbar {
  min-width: 200px;
  min-height: 6px;
  border-radius: 99px;
}

progressbar trough {
  background: @surface_container_high;
  border-radius: 99px;
  min-height: 6px;
}

progressbar progress {
  background: @on_primary_container;
  border-radius: 99px;
  min-height: 6px;
  min-width: 0;
}
