@import url("colors.css");

* {
  min-height: 0;
  font-family: "Slate For One Plus";
  font-weight: 400;
  border-radius: 23px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #1e1d1f;
  /* background: rgba(47, 49, 53, 0.744); */
  transition-duration: 0.5s;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
}
#workspaces button {
  margin: 0 1px;
  padding: 0 2px;
  border-radius: 16px;
  color: #cdd6f4;
  background-color: #636067;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #2f354a;
  background-color: @primary;
  min-width: 35px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background-color: #cdd6f4;
  color: #2f354a;
  min-width: 35px;
  background-size: 300% 300%;
}

#workspaces button:hover {
  background-color: @primary;
  color: #2f354a;
  min-width: 35px;
  background-size: 400% 400%;
}

#custom-weather {
  font-size: 0.94em;
  padding: 1px 6px 0;
  background-color: #2b292f;
  margin: 7px 0;
}

/* #memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network, */
#tray {
  padding: 0.5px 6px;
  background-color: #2b292f;
  margin: 7px 0;
}

#tray > .active {
  margin: 50px 1px;
  padding: 20px 2px;
  background-color: #636067;
  /* padding: 0.5px 10px 0; */
}

/* #tray .icons {
  margin: 10px 0;
} */

#clock {
  font-size: 0.94em;
  padding: 1px 6px 0 8px;
  background-color: #2b292f;
  margin: 7px 0;
}

#workspaces {
  padding: 5px;
  background-color: #2b292f;
  margin: 7px 0 7px 6px;
}

#window {
  padding: 1px 10px 0;
  background-color: #2b292f;
  margin: 7px 8px 7px 0;
  font-size: 13px;
}

#custom-power {
  margin-right: 6px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
