@import url("colors.css");

* {
  min-height: 0;
  font-family: "SF Pro Display", sans-serif;
  border-radius: 12px;
  margin: 0;
  padding: 0;
  border: none;
}

#waybar {
  background-color: transparent;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
}

#workspaces button {
  margin: 0 2.5px;
  padding: 0 12px;
  border-radius: 8px;
  font-weight: 700;
  background-color: @surface_bright;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @background;
  background-color: @primary_fixed_dim;
  min-width: 28px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:not(.empty) {
  background-color: @primary_fixed_dim;
  color: @background;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
  min-width: 28px;
}

#workspaces button:hover {
  background-color: @secondary_fixed;
  color: @background;
}

#custom-media_player {
  background-color: @surface_container;
  padding: 1.5px 18px 0 16px;
  font-weight: 700;
}

#custom-weather {
  font-weight: 700;
  /* font-size: 15px; */
  padding: 1px 13px 0;
  background-color: @surface_container;

  /* background-color: #2b292f; */
  /* margin: 5px 0; */
}


#tray {
  padding: 0.3px 13px 0;
  background-color: @surface_container;
  /* margin: 5px 0; */
}

#image {
  background-color: @surface_container;
  padding: 1px 18px 0 16px;
}

#custom-notifications {
  padding: 1px 18px 0 15px;
  background-color: @surface_container;
  font-weight: 700;
  /* background-color: #2b292f; */
  /* margin: 5px 0; */
  font-size: 17px;
}

#custom-notifications.dnd-notification,
#custom-notifications.dnd-none {
  padding: 1px 19px 0 14px;
}

#clock {
  font-size: 0.94em;
  font-weight: 700;
  padding: 1px 11px 0 13px;
  /* background-color: #2b292f; */
  /* margin: 5px 0; */
  background-color: @surface_container;
}

#workspaces {
  /* border: 0.5px solid #032412; */
  /* margin: 5px 5px 5px 5px; */
  /* padding: 0 5px; */
  border-radius: 18px;
  /* border-radius: 11px; */
  padding: 5px 5px;
  background-color: @surface_container;

  /* background-color: #2b292f; */
  /* margin: 5px 0 5px 6px; */
}

#window {
  padding: 1px 10px 0;
  /* background-color: #2b292f; */
  /* margin: 5px 8px 5px 0; */
  font-size: 13px;
}

#custom-power {
  margin-right: 6px;
}
#system {
  padding: 1px 16px 0 19px;
  background-color: @surface_container;
  font-size: 16px;
  font-weight: 700;
}

/* Individual modules */

#bluetooth {
  margin-right: 13px;
}

#custom-network {
  margin-right: 16px;
}

#custom-battery {
  margin-right: 18px;
  color: @on_tertiary_container;
  background-color: @surface_container;
  /* background-color: #2b292f; */
  /* color: rgb(75, 224, 93); */
  /* margin: 5px 0; */
  font-size: 17px;
}

#tray menu {
  background-color: @surface_container;
  padding: 4px 0px;
  border-radius: 14px;
  font-size: 0.9em;
}

#tray window decoration {
  box-shadow: none;
}

#custom-power_options {
  background-color: @surface_container;
  padding: 0 15px;
  font-weight: 700;
}

#tray * {
  border: none;
  background-color: transparent;
}

#tray menu menuitem {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  margin: 1px 5px;
  padding: 5px 0;
  font-weight: 600;
}

#custom-keyboard {
  padding: 0.2px 16px 0 13px;
  font-size: 13px;
  font-weight: 700;
  /* margin: 5px 0; */
  background-color: @surface_container;
}

#tray menu menuitem:hover {
  background-color: @outline_variant;
}

#tray menu separator {
  margin: 5px 8px;
  border-bottom: 1px solid #555;
}

tooltip {
  background-color: @surface_container;
  border-radius: 12px;
  font-weight: 600;
}

tooltip label {
  padding: 0 3px;
}
