@import url("colors.css");

* {
  min-height: 0;
  font-family: "Slate For One Plus";
  font-weight: 400;
  border-radius: 11px;
  margin: 0;
  padding: 0;
  border: none;
}

window#waybar {
  background: #1e1d1f;
  border-radius: 15px;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
}
#workspaces button {
  margin: 0 1px;
  padding: 0 2px;
  border-radius: 15px;
  color: #cdd6f4;
  background-color: #636067;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #2f354a;
  background-color: @primary;
  min-width: 35px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background-color: #cdd6f4;
  color: #2f354a;
  min-width: 35px;
}

#workspaces button:hover {
  background-color: @primary;
  color: #2f354a;
  min-width: 35px;
}

#custom-weather {
  font-size: 0.94em;
  padding: 1px 6px 0;
  background-color: #2b292f;
  margin: 5px 0;
}

#tray {
  padding: 1px 11px 0;
  background-color: #2b292f;
  margin: 5px 0;
}

#custom-notifications {
  padding: 1px 12px 0 10px;
  background-color: #2b292f;
  margin: 5px 0;
}

#clock {
  font-size: 0.94em;
  padding: 1px 6px 0 8px;
  background-color: #2b292f;
  margin: 5px 0;
}

#workspaces {
  /* border-radius: 11px; */
  padding: 5px;
  background-color: #2b292f;
  margin: 5px 0 5px 5px;
}

#window {
  padding: 1px 10px 0;
  background-color: #2b292f;
  margin: 5px 8px 5px 0;
  font-size: 13px;
}

#custom-power {
  margin-right: 6px;
}
#werki {
  padding: 1px 10px 0;
  background-color: #2b292f;
  margin: 5px 5px 5px 0;
  font-size: 13px;
}

#battery {
  padding: 1px 10px 0;
  background-color: #2b292f;
  margin: 5px 0;
  font-size: 13px;
}

#tray menu {
  background-color: #2b292f;
  padding: 4px 0px;
  border-radius: 12px;
  font-size: 0.9em;
}

#tray menu menuitem {
  background-color: transparent;
  margin: 1px 5px;
  padding: 5px 0;
}

#custom-keyboard {
  padding: 1px 7px 0;
  background-color: #2b292f;
  font-size: 12px;
  margin: 5px 0;
}

#tray menu menuitem:hover {
  background-color: #545356;
}

#tray menu separator {
  margin: 5px 8px;
  border-bottom: 1px solid #555;
}

tooltip {
  background: transparent;
  border: none;
}

tooltip label {
  background-color: #2b292f;
  padding: 10px;
  border-radius: 15px;
}
